*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .logo{
    padding-top: 1.25rem;
    padding-left: 3.75rem;
}

body{
    background-image: url(imagenes/bg-image.svg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Be Vietnam Pro";
    color: #F8FAFC;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 1.875rem 21.875rem;
    text-align: center;
}
.form_inicio h1{
    font-size: 4rem;
    padding-bottom: 1rem;
}
.form_inicio h3{
    font-size: 2rem;
    padding-bottom: 3rem;
}
form{
    background-color: rgba(197, 196, 196, 0.342);
    padding: 1.875rem;
    border-radius: 1.25rem;
    font-family:'Be Vietnam Pro';
}
.form_cont{
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows:  22px 1fr 15px; 
}
.form_cont label{
    text-align: start;
}
.form_cont .label{
    grid-column: 3;
}
.form_cont .label_select{
    grid-column: 3;
    grid-row: 1;
}
.form_cont input{
    grid-row:2;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
}
.form_cont .input{
    grid-column: 3;
}
.form_cont select{
    background-image: url(imagenes/Expand_down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    grid-column: 1;
    grid-row: 2/4;
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
    height: 40px;
}
.form_cont .select{
    grid-column:3;
    grid-row: 2/4;
}
.form_cont select::-ms-expand{
    display: none;
}
textarea{
    font-family: 'Be Vietnam Pro';
    grid-column:1/4;
    width: 100%;
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
    padding-top: 5px;
}
#button{
    width: 100%;
    height: 60px;
    color: #4036A9;
    font-weight:bold;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

@media screen and (max-width: 1024px) {
    .container{
        padding: 0px 20px;
    }
    .form_inicio h1{
        font-size: 4rem;
    }
    .form_inicio h3{
        font-size: 2rem;
        padding: 0px 20px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 640px){
    header .logo{
        padding-top: 10px;
        padding-left: 15px;
    }
    .form_inicio h1{
        font-size: 3rem;
    }
    .form_inicio h3{
        font-size: 1rem;
   }
    .form_cont{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .container{
        padding-bottom: 20px;
    }
}